@font-face {font-family : "Swifted" ; src : url('police/Swifted/Swifted DEMO.otf');}


#map {
    height: 600px;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 10px #7a7a7a;
    border-radius: 10px;
}

h1{
    font-family: "Swifted";
}

.header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    position: absolute;
    top : 20px;
    left: 20px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
nav img{
    width: 90%;
}

#rapCarte{
    background-image: linear-gradient(to top, #add19e, #f8d19c);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height : 50px;
    padding: 5px;
    flex-grow: 2;
    position: relative;
}

.rapportNav::before{
    content:"Rapport";
    clip-path: polygon(0% 50%,
    10% 30%,
    10% 0%,
    100% 0%,
    100% 100%,
    10% 100%,
    10% 70%
    );
    width: 0px;
    height: 40px;
    background-color: #add19e;
    margin-left: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: -10%;
    opacity: 0;
    transition: 1s ease;
    font-size: 15px;
    color: transparent;
}
.carteNav::before{
    content:"Carte";
    clip-path: polygon(0% 50%,
    10% 30%,
    10% 0%,
    100% 0%,
    100% 100%,
    10% 100%,
    10% 70%
    );
    width: 0px;
    height: 40px;
    background-color: #add19e;
    margin-left: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: -10%;
    opacity: 0;
    transition: 1s ease;
    font-size: 15px;
    color: transparent;
}

.rapportNav:hover::before, .carteNav:hover::before {
    opacity: 1;
    width: 100px;
    top: 20%;
    left: 100%;
    transition: 1s ease;
    color: black;
    z-index: -1;
}

/*#commentRapCarte{

    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}*/

#affichageMap{
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 50% 47%;
    grid-gap: 3%;
}

#formReservation{
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    text-align: center;
}

#reservationForm{
    display: grid;
    grid-template-rows: repeat(4, 50px);
}