@font-face {
    font-family: "Avenue" ;
    src: url('police/Avenue/CaviarDreams.ttf');
}

#title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    transition: 0.5s ease;
    font-family: "Avenue";
    font-size: 3vw;
    background: linear-gradient(to right, #619d36, #e7a649);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    width: 90%;
    height: 100%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#img-architecture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-architecture img {
    height: 500px;
    border-radius: 1rem;
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}


#img-architecture img:active {
    transform: scale(0.9);
    transition: 0.5s ease;
}
